@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: Namu;
  src: url(/xcelerate/fonts/NAMU-Pro.ttf);
}


html{
  font-family: Namu;
  color: #fff;
  @apply bg-mainbg;
}


p{
  display: inline;
  @apply text-primary
}



.line{
  background: linear-gradient(180deg, rgba(49, 10, 14, 0) 0%, rgb(176, 61, 72) 50%, rgba(26, 3, 6, 0.166) 100%);
  opacity: 0.4;
}